* {
  box-sizing: border-box;
}
body {
  /* 新しく追加 */
  height: 100%;
  /* 新しく追加 */
  margin: 0;
  overflow: hidden;
}
header {
  position: absolute;
  top: 0px;
  width: 100%;
}
.header-title {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 40px;
  font-size: 1.5em;
  background-color: #0064a5;
  color: #7fb1d2;
}
.main-container {
  display: flex;
  flex-wrap: nowrap;
  align-items: flex-start;
  height: 100vh;
  padding: 52px 12px 12px 12px;
  overflow-x: auto;
  background-color: #0076c2;
  z-index: 10;
}
.list-container {
  min-width: 250px;
  width: 250px;
  padding: 8px;
  border-radius: 4px;
  background-color: #e2e4e6;
  z-index: 12;
}
.list-container:nth-child(n + 2) {
  margin-left: 8px;
}
.list-header {
  height: 60px;
  padding: 8px 0px 0px 4px;
  font-weight: bold;
  font-size: 0.9em;
}
.cards-container {
  max-height: calc(100vh - 200px);
  margin-top: 4px;
  overflow-y: auto;
}
.card {
  position: relative;
  padding: 4px;
  background-color: #fff;
  border-radius: 4px;
  box-shadow: 0 1px 0 #ccc;
  z-index: 14;
}
.card:nth-of-type(n + 2) {
  margin-top: 8px;
}
.card:last-child {
  margin-bottom: 1px;
  word-wrap: break-word;
}
.card .text {
  overflow-x: hidden;
}
.card:hover {
  background-color: #edeff0;
  border-bottom-color: #d6dadc;
}
.card:hover .delete {
  position: absolute;
  bottom: 4px;
  right: 4px;
  z-index: 16;
  opacity: 0.5;
  color: #f00;
}
.card:hover .delete:after {
  content: "削除";
}
.card:hover .delete:hover {
  opacity: 1;
}
.input-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.input-container .input-todo {
  height: 2em;
  width: 75%;
  padding: 4px;
  background-color: #fff;
  border-radius: 4px;
  box-shadow: 0 1px 0 #ccc;
  font-size: 1em;
  border-width: 0px;
}
.input-container .input-todo:focus {
  outline: 0;
}
.input-container .input-button {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 30px;
  padding: 0px 0.5em;
  color: #fff;
  background-color: #2ab643;
  border-radius: 4px;
  border-bottom: 1px solid #2aa138;
  user-select: none;
}
.input-container .input-button:active {
  transform: translateY(2px);
}
.list-footer {
  margin-top: 8px;
}

.footer {
  height: 500px;
  margin-top: -500px;
  display: flex;
  justify-content: center;
  z-index: 1;
}

.clock {
  position: relative;
  width: 300px;
  height: 300px;
  border-radius: 50%;
  border: solid 2px silver;
  opacity: 0.5;
  z-index: 1;
}

.clock::after {
  content: "";
  position: absolute;
  top: calc(50% - 8px);
  left: calc(50% - 8px);
  border-radius: 50%;
  width: 16px;
  height: 16px;
  background-color: silver;
  opacity: 0.5px;
  z-index: 1;
}

.dials {
  position: relative;
  width: 100%;
  height: 100%;
}

.dials > div {
  position: absolute;
  top: 0px;
  content: "";
  width: 6px;
  height: 15px;
  background-color: silver;
}

.dials div:nth-child(1) { transform: rotate(30deg);}
.dials div:nth-child(2) { transform: rotate(60deg);}
.dials div:nth-child(3) { transform: rotate(90deg);}
.dials div:nth-child(4) { transform: rotate(120deg);}
.dials div:nth-child(5) { transform: rotate(150deg);}
.dials div:nth-child(6) { transform: rotate(180deg);}
.dials div:nth-child(7) { transform: rotate(210deg);}
.dials div:nth-child(8) { transform: rotate(240deg);}
.dials div:nth-child(9) { transform: rotate(270deg);}
.dials div:nth-child(10) { transform: rotate(300deg);}
.dials div:nth-child(11) { transform: rotate(330deg);}
.dials div:nth-child(12) { transform: rotate(360deg);}

.hand {
  position: absolute;
  bottom: 50%;
  left: 50%;
  background-color: silver;
  transform-origin: 50% 100%;
  opacity: 0.5;
}

.hour .hand {
  width: 6px;
  height: 90px;
}

.minute.hand {
  width: 4px;
  height: 140px;
}

.second.hand {
  width: 2px;
  height: 130px;
}